<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <title>Our Home</title>
    <style>
        #gis {width: 80%; height: 700px;}
    </style>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
</head>
<body>
    <h3>We are Home</h3>
    <br/>
    <script>
        function our_layers(map, options) {
            let datasets = new L.GeoJSON.AJAX("{% url 'gangnam' %}", {
                style: function colors(feature) {
                    switch(feature.properties.pk) {
                        case "1168011300101250007": return { 
                                color: "orange",
                                fillOpacity: 0.7,
                            }; 
                            break; 
                        case "1168011100100340003": return { 
                                color: "blue",
                                fillOpacity: 0.7,
                            }
                            break;
                    }
                },
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(feature.properties.pnu.toString());
                }
            });

            let points = new L.GeoJSON.AJAX("{% url 'incidences' %}", {
                style: function colors(feature) {
                    switch(feature.properties.name) {
                        case "test": return { 
                                color: "orange",
                                fillOpacity: 0.7,
                            }; 
                            break; 
                        case "Seoul": return { 
                                color: "blue",
                                fillOpacity: 0.7,
                            }
                            break;
                    }
                },
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(feature.properties.name.toString());
                }
            })
            
            datasets.addTo(map);
            points.addTo(map);
        }
    </script>
    {% leaflet_map "gis" callback="window.our_layers" %}
</body>
</html>