<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <title>Our Home</title>
    <style>
        #gis {width: 80%; height: 800px; margin-top: 100px;}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}"></link>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <h3>test main map page</h3>
    <br/>
    <div id='map' style='width: 80%; height: 700px;'></div>


    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoianVuZ2hvbmciLCJhIjoiY2twbnBiZTA3MXQ3NjJ2bHJodHJmN2oyYSJ9.QW798Vk3hHy6I158OoHDzg';
        var map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/junghong/ckqitbyxt078b17mq4y5hykva', // style URL
            center: [126.643855, 37.383911], // starting position [lng, lat]
            zoom: 15.23 // starting zoom
        });

        //map.on('load', function() {
        //
        //    map.on('click', function(e) {
        //        console.log(e);
        //    })
        //
        //})

    </script>

    <script>
        function our_layers(map, options) {
            let osm =  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{y}/{x}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' //화면 오른쪽 하단 attributors
            });

            var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 17,
                attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
            }); 

            var mapbox = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png?{foo}', { foo:'pk.eyJ1IjoianVuZ2hvbmciLCJhIjoiY2twbnBiZTA3MXQ3NjJ2bHJodHJmN2oyYSJ9.QW798Vk3hHy6I158OoHDzg' })

            var MapBoxBuildings = L.tileLayer('https://api.mapbox.com/styles/v1/junghong/ckqitbyxt078b17mq4y5hykva/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoianVuZ2hvbmciLCJhIjoiY2twbnBiZTA3MXQ3NjJ2bHJodHJmN2oyYSJ9.QW798Vk3hHy6I158OoHDzg')


            let points = new L.GeoJSON.AJAX("{% url 'incidences' %}", {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(feature.properties.name.toString());
                }
            })
            

            let buildings_datasets = new L.GeoJSON.AJAX("{% url 'buildings' %}", {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup("feature.properties.pk: " + feature.properties.pk);
                }
            })

            // datasets.addTo(map);
            points.addTo(map);
            buildings_datasets.addTo(map);

            var baseLayers = {
                "MapBox": mapbox,
                "TopoMap": OpenTopoMap,
                "MapBoxBuildings": MapBoxBuildings,
            }   

           var groupedOverlays = {
                "Layers": {
                   "incidences": points,
                   "building": buildings_datasets,
                }
    		 };

		    L.control.groupedLayers(baseLayers, groupedOverlays, options).addTo(map);


            L.map('map', {
                center: [[127.029126, 37.496300]],
                zoom: 15,
            })

            // L.Routing.control({
            //     waypoints: [
            //         L.latLng(51.505, -0.09),
            //         L.latLng(51.525, -0.29),
            //     ]
            // }).addTo(map);
        }
    </script>
    {% leaflet_map "gis" callback="window.our_layers" %}

</body>
</html>