<!DOCTYPE html>
<html>
{% load static %}
{% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <title>Our Home</title>
    <style>
        body { margin: 0; padding: 0; }
        html, body, #map { height: 100%; }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'routing/leaflet-routing-machine.css' %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css' %}"></link>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js' %}"></script>
    <script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js' %}"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <div id='map'></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoianVuZ2hvbmciLCJhIjoiY2twbnBiZTA3MXQ3NjJ2bHJodHJmN2oyYSJ9.QW798Vk3hHy6I158OoHDzg';
        var map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/junghong/ckqiygnxo0cd518moxsxm7w1p', // style URL
            //style: 'mapbox://styles/mapbox/streets-v10', // style URL
            center: [127.027974, 37.498015], // starting position [lng, lat]
            zoom: 15.23, // starting zoom
            bearing: -17.6,
            antialias: true,
        });

        map.on('style.load', function() {

            if (map.getSource('composite')) {
                map.addLayer({
                    'id': '3d-extrusions',
                    'source': 'composite',
                    'source-layer': 'merged-0mpwhz',
                    'type': 'fill-extrusion',
                    'minzoom': 14,
                    'paint': {
                        "fill-extrusion-height": [
                            "case", 
                            ["feature-state", "hover"],
                            ["feature-state", "height"],
                            0,
                        ],
                        "fill-extrusion-color": "#ffffff"
                    },
                    "promotedId": {'merged-0mpwhz': "id"}
                }, '3D-extrusions');
            }

            let fHover;

            map.on('mousemove', function(e) {
                var features = map.queryRenderedFeatures(e.point, {
                    layers: ['3d-extrusions']
                });

                console.log(features)

                if (features[0]) {
                    mouseout();
                    mouseover(features[0]);
                } else {
                    mouseout();
                }
            });

            map.on('mouseout', function(e) {
                mouseout();
            });

            function mouseout() {
                if (!fHover) return;
                map.getCanvasContainer().style.cursor = 'default';
                map.setFeatureState({
                    source: fHover.source,
                    sourceLayer: fHover.sourceLayer,
                    id: fHover.id,
                }, {
                    hover: false,
                    height: 0,
                });
            }

            function mouseover(feature) {
                fHover = feature;
                map.getCanvasContainer().style.cursor = 'pointer';
                map.setFeatureState({
                    source: fHover.source,
                    sourceLayer: fHover.sourceLayer,
                    id: fHover.id,
                }, {
                    hover: true,
                    height: fHover.properties.NMLY * 2
                });
            }
        });

    </script>


</body>
</html>